<template>
  <div :id="chartId" class="chart-section">
  </div>
</template>

<script>
import {GoogleCharts} from 'google-charts';
export default {
  name: 'LineChart',
  props: {
    metricSelected: String,
    records: Array,
    xAxis: String,
    storeId: Number
  },
  watch: {
    metricSelected: function() { // listening for the changes in this prop from store, trigger re-render
      GoogleCharts.load(this.renderGoogleChart);
    }
  },
  computed: {
    chartId: function(){
      return 'chart_div_'+this.storeId;
    }
  },
  methods: {
    renderGoogleChart: function (){
        let chart = new GoogleCharts.api.visualization.LineChart(document.getElementById('chart_div_'+this.storeId));
        let data = new GoogleCharts.api.visualization.DataTable();

        data.addColumn(typeof this.records[0][this.xAxis], this.xAxis); // this is for dynamically initializing type of xAxis
        data.addColumn(typeof this.records[0][this.metricSelected], this.metricSelected); // this is for dynamically initializing type of yAxis

        let rowsToBePushed = this.records.map((record)=>{
          return [record[this.xAxis],record[this.metricSelected]];
        });
        data.addRows(rowsToBePushed);
        chart.draw(data, {
          hAxis: {
            title: this.xAxis
          },
          vAxis: {
            title: this.metricSelected
          },
          height: 500
        });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.chart-section {
  height: 100%;
}
</style>
