<template>
  <div class="app">
    <select @change="onChange" class="select-bar">
      <option v-for="metric in metrics" :value="metric" :selected="metricSelected==metric">{{metric}}</option>
    </select>
    <LineChart :records="records" :metricSelected="metricSelected" :xAxis="xAxis" :storeId="storeId">
    </LineChart>
  </div>
</template>

<script>
import LineChart from './components/LineChart'
import { mapState } from 'vuex'

export default {
  name: 'App',
  computed: mapState({
    metrics: state => state.metrics,
    records: state => state.records,
    xAxis: state => state.xAxis,
    metricSelected: state => state.metricSelected, // initalizing the select bar from the store,
    storeId: state => state.storeId
  }),
  components: {
    LineChart
  },
  methods: {
    onChange: function(event){
      this.$store.dispatch('setMetricSelected',event.target.value); 
      // triggering this action for mutating metricSelected in store, and there by triggering the reactivity of Vuejs for components using metricSelected (here LineChart)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.select-bar {
  font-size: 15px;
}
</style>
